src/Games/Infrastructure/Validator/XSD/Request/Reverse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="reverse_request">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="uuid"/>
                <xs:element type="xs:string" name="type"/>
                <xs:element name="user">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="uuid"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="surname"/>
                            <xs:element type="xs:string" name="address"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="uuid"/>
                            <xs:element type="xs:string" name="address"/>
                            <xs:element type="xs:string" name="subject"/>
                            <xs:element type="xs:string" name="content"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
